@import 'fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .masonry-3-col {
      column-count: 3;
      column-gap: 1em;
    }
    .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
    }
    .masonry-1-col {
      column-count: 1;
      column-gap: 1em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

body {
  @apply bg-slate-50;
  @apply font-poppins;
  @apply text-lg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-playfair;
  @apply font-black;
  @apply text-blue-600;
}
